/* Start of custom masonry layout */

.masonry {
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.masonry-item {
    display: inline-block !important;
    margin: 0 0 1em;
    width: 100%;
    /* float: left; */
}

@media only screen and (min-width: 400px) {
    .masonry {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}


/*End of custom masonry layout */
